	*{
	margin: 0;
	padding: 0;
	font-family:'josefin sans',sans-serif;
	box-sizing: border-box;

	}
	nav.sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%; 
	z-index: 1; 
	}
	.sticky + .home {
		padding-top: 60px;
	}

	#navpro{ 

	display: flex;
	padding-left: 60px;
	padding-top:20px;
	height: 50px;
	align-items: center;
	background:url("por1.jpg"); 
	cursor: pointer;
	}
	#navpro::before{
	content: '';
	position: absolute;

	background-size: contain;

	height: 100%;
	width: 100%;
	z-index: -1;



	}
	#navpro ul {
	font-style: italic;
	display: flex;
	list-style: none;
	}
	#navpro ul .enat{
		background-color:#f8f8f8;
		height: 8vh;
		color: rgb(24, 219, 200);
		text-decoration: none;
		border: 2px solid transparent;
		font-weight: bold;
		border-radius: 70vh;
		transition: .4s; 
		margin-top: -2vh;
		margin-left: 120vh; 
		
		letter-spacing: 2px;
		cursor: pointer;
	}
	#navpro ul .enat span{
		transition: 0.5s;
	}
	#navpro ul .enat:hover span:nth-child(1){
		margin-right: 10px;
	}
	#navpro ul .enat:hover span:nth-child(2)
	{
	margin-left: 10px;
	}
	#navpro ul .enat:hover span{
	color: #fff;
	text-shadow: 0 0 10px rgb(0, 0, 0),
				0 0 20px rgb(0, 0, 0),
				0 0 40px rgb(0, 0, 0),
				0 0 80px rgb(0, 0, 0),
				0 0 120px rgb(0, 0, 0),
				0 0 160px rgb(0, 0, 0);

	}
	#navpro ul li :hover{
	font-size: 1.1rem;
	text-shadow:   0 0 gold ,
			0 0 13px gold,
			0 0 12px gold,
			0 0 10px gold,
			0 0 10px gold,
		0 0 10px gold,
			0 0 10px gold,



	0 0 10px gold;
	
	}
	#navpro ul li a{
		background-color:#858283;
		color: white;
		text-decoration: none;
		border: 2px solid transparent;
		font-weight: bold;
		/* padding: 13px 30px; */
		border-radius: 40px;
		transition: .4s;
	gap: 10px; 
	}
	#navpro ul li a:hover{
		background-color: transparent;
		border: 2px solid #ffee03;
		cursor: pointer;
	}
	
	#home{
	 background-color:#D7D7D7;
	
	}
	
	

	@keyframes slideup{
	   0%{
		   transform: translateY(100px);
	   }
	   100%{
		   transform: translateY(0%);
	   }
	}
	
	@keyframes slideleft{
		0%{
			transform: translateX(1000px);
		}
		100%{
			transform: translateX(0%);
		}
	 }
	 
	#home .image {
		-webkit-box-flex: 1;
			-ms-flex: 1 1 42rem;
				flex: 1 1 42rem;
		text-align: center;
	}
	
	#home .image img {
		height: 60vh;
		width: 70vh;
		clip-path: circle();
		animation:slideleft 2s ease;

	}
	
	#home .content {
		-webkit-box-flex: 1;
			-ms-flex: 1 1 42rem;
				flex: 1 1 42rem;
	}

	.btn1 {
		height: 10vh;
		display: inline-block;
		margin-top: 1rem;
		border-radius: 5rem;
		background: rgb(0, 0, 0);
		padding: .5rem;
		font-size: 1.2rem;
		color: #fff;
		padding-left: 2rem;
		text-decoration: none;
		animation:slideup 3 	s ease;
	
	}
	
	.btn1 i {
		
		
		width: 4rem;
		line-height: 4rem;
		font-size: 1.7rem;
		text-align: center;
		background: #fff;
		background: rgb(0, 0, 0);
		border-radius: 50%;
		margin-left: 1rem;
		-webkit-transition: .2s linear;
		transition: .2s linear;
	}
	
	.btn1:hover i {
		margin-left: 2rem;
	}
	.btn {
		height: 10vh;
		display: inline-block;
		margin-top: 1rem;
		border-radius: 5rem;
		background: rgb(0, 0, 0);
		padding: .5rem;
		font-size: 1.2rem;
		color: #fff;
		padding-left: 2rem;
		text-decoration: none;
		
	}
	
	.btn i {
		
		
		width: 4rem;
		line-height: 4rem;
		font-size: 1.7rem;
		text-align: center;
		background: #fff;
		background: rgb(0, 0, 0);
		border-radius: 50%;
		margin-left: 1rem;
		-webkit-transition: .2s linear;
		transition: .2s linear;
	}
	
	.btn:hover i {
		margin-left: 2rem;
	}
	
	#home .content h3 {
		color: rgb(255, 0, 0);
		font-family: papyrus,sans-serif;
		font-size: 8vh;
		padding-bottom: .5rem;
		animation:slideup 2.1s ease;
	}

	#home.home_t{
		
		font-family: papyrus,sans-serif;
	}
	
	
	
	
	

	#about{
		
		width: 100%;
		margin: 1px 0px;
		padding: 100px 0px;
		
		background-color:#D7D7D7;
	}
	#about img{
		animation:slideleft 2s ease;
		height: auto;
		width: 430px;
	}
	.about-text{
		width: 550px;
		
	}
	hr{
		color: rgb(0, 0, 0);
		margin-left: 5vh;
		margin-right: 5vh;
	}
	.me{
		width: 1130px;
		max-width: 95%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.about-text h2{
		font-family: papyrus,sans-serif;
		color: rgb(255, 0, 0);
		font-size: 75px;
		text-transform: capitalize;
		margin-top: 10vh;
	}
	.about-text h5{
		font-family: papyrus,sans-serif;
		color: rgb(0, 0, 0);
		letter-spacing: 2px;
		font-size: 22px;
		margin-bottom: 5px;
		margin-right: 100px;
		text-transform: capitalize;
	}
	.about-text p{
		font-style: italic;
		font-weight: 400;
		color: rgb(16, 2, 39);
		letter-spacing: 1px;
		line-height: 28px;
		font-size: 18px;
		margin-bottom: 45px;
	}
	.back{

		width: 100%;
		
		margin-top: -232pt;
		margin-left: 0 ;
		height: 500px;
		background-color: #191919;
	}
	.back img{

		
			height: auto;
			width: 430px;
		

	}
	.middle{ 

		display: flex;
		padding-left: 60px;
		height: 50px;
		align-items: center;
		background:url("por1.jpg"); 
		
		}
		
	
	

		
		#education{
			background-color:#D7D7D7;
		
		
		}
	
	#education .box-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	  }
	  
	  #education .box-container .box {
		-webkit-box-flex: 1;
			-ms-flex: 1 1 40rem;
				flex: 1 1 40rem;
		margin-left: 2rem;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 3.5rem;
		padding-bottom: 3rem;
		border-left: 0.1rem solid rgb(0, 0, 0);
		position: relative;
	  }
	  
	  #education .box-container .box i {
		height: 4.5rem;
		width: 4.5rem;
		line-height: 4.5rem;
		font-size: 1.7rem;
		border-radius: 50%;
		background: rgb(255, 255, 255);
		color:rgb(0, 0, 0);
		text-align: center;
		position: absolute;
		top: -1rem;
		left: -2.5rem;
	  }
	  
	  #education .box-container .box span {
		font-size: 1.7rem;
		color: rgb(238, 255, 0);
		border-radius: 5rem;
		padding: .5rem 1.5rem;
		background: #000000;
	  }
	  
	  #education .box-container .box h3 {
		font-style: italic;
		font-size: 2rem;
		font-weight: 700;
		padding: 1rem 0;
		color: #000000;
		padding-top: 3rem;
		font-weight: normal;
	  }
	  
	  #education .box-container .box p {
		 font-style: italic;
		 font-weight: 400;
		font-size: 1.5rem;
		color: rgb(0, 0, 0);
		line-height: 2;
	  }
	 
	#service{
		background-color:#D7D7D7;
	}
	
	#service .box-container{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	#service .box-container .box{
		border:.1rem solid rgba(0,0,0,.2);
		border-radius: .5rem;
		box-shadow:  0 .5rem 1rem rgba(0,0,0,.1);
		margin:1.5rem;
		padding:2.5rem;
		background:linear-gradient(79deg, rgba(255, 71, 87,.2) 50%, #fff 50.1%);
		position: relative;
		z-index: 0;
		flex:1 1 30rem;
	}
	
	#service .box-container .box .number{
		font-size: 7rem;
		color:rgba(0,0,0,.05);
		position: absolute;
		top:-1rem; right:1rem;
		z-index: -1;
		font-weight: bolder;
	}
	
	#service .box-container .box:hover .number{
		font-size: 9rem;
	}
	.btn2{
		display: inline-block;
		border-radius: 5rem;
		background:#444;
		color:#fff;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
		padding:.7rem 3rem;
		position: relative;
		z-index: 0;
		overflow: hidden;
		font-size: 1.7rem;
	}
	
	.btn2::before,
	.btn2::after{
		content: '';
		position: absolute;
		top:0;
		height: 100%;
		width:0%;
		background:var(--pink);
		z-index: -1;
		transition: .3s linear;
	}
	
	.btn2::before{
		left:0;
	}
	
	.btn2::after{
		right:0;
	}
	
	.btn2:hover::before,
	.btn2:hover::after{
		width:100%;
	}
	#service .box-container .box h3{
		font-size: 2.4rem;
		color:#333;
	}
	
	#service .box-container .box p{
		font-size: 1.5rem;
		color:#666;
		padding:1rem 0;
	}
	.heading{
			
		align-items: center;
		color:rgb(255, 0, 43);
		font-size:90px;
		margin-left:170px;
		



	}
	.heading span{
		align-items: center;
		color:rgb(0, 0, 0);
		font-size:90px;
		margin-left:190px;
		
	}

	#contact{
		min-height: 100vh;
		background-color:#D7D7D7;
	}
	h1{
		text-align: center;
		font-size: 32px;
		padding-top: 20px;
		font-weight: 900px;
	
	}
	p{
		text-align: center;
		margin-top: 20px;
		color: rgb(0, 0, 0);
		font-size: 20px;
	}
	.container{
		display: flex;
		width: calc(100% - 80px);
		margin: 50px 40px;
	}
	.row_left_side{
		background-color: #7700ff;
		color: #eee;
		width: 450px;
		padding: 30px;
		border-radius: 20px;
		height: 550px;
		position: relative;
	}
	.row_left_side h2{
		font-size: 28px;
		color: rgb(0, 0, 0);
	}
	.row_left_side p{
		text-align: left;
		color: rgb(0, 0, 0);
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.row_left_side a{
		color: rgb(255, 252, 95);
		text-decoration: none;
		cursor: pointer;
	}
	.row_left_side i{
		display: flex;
		padding: 30px 0;
		color: #ebc932;;
	}
	.row_left_s	ide i span{
		margin-left: 20px;
		color: #fff;
	}
	.social_icon{
		display: flex;
		position: absolute;
		bottom: 18px;
		width: 200px;
		justify-content: space-between;
	}
	.social_icon i{
		width: 40px;
		height: 40px;
		text-align: center;
		padding: 12px 10px 10px 13px;
		color: rgb(255, 255, 255);
	}
	.social_icon i:hover{
		border-radius: 20px;
			background-color: #fa949d;
		color: rgb(0, 110, 255);
	}
	.semi_circle{
		clip-path: circle(50.3% at 100% 100%);
		background: #e6c845;
		position: absolute;
		bottom: 0;
		width: 400px;
		height: 400px;
		right: 0;
	}
	.circle{
		clip-path:circle(50% at 50% 50%);
		background: #f39797;
		opacity: 0.9;
		position: absolute;
		bottom: 68px;
		width: 150px;
		height: 150px;
		right: 94px;
	}
	.row_right_side{
		width: 1100px;
		padding: 30px; 
	}
	form{
		position: relative;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.row_right_side label{
		width: 50%;
		font-weight: bold;
	}
	.row_right_side input{
		width: 90%;
		border: none;
		border-bottom: 2px solid rgb(0, 0, 0);
		outline: none;
		padding-top: 10px;
		padding-bottom: 20px;
		font-size: 16px;
	}
	.row_right_side input:hover{
		border-bottom: 2px solid #3e2093;
		cursor: pointer;
	}
	.checkbox_box{
		width: 100%;
	}
	.checkbox_box h5{
		color: #000000;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.checkbox_box .box{
		display: inline;
		position: relative;
		padding-left: 28px;
		margin-right: 70px;
		cursor: pointer;
		font-size: 21px;
		color: rgb(0, 0, 0);
		font-weight: 500;
	}
	.box input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		border: 2px solid rgb(0, 0, 0);
	}
	.box input:checked ~ .checkmark{
		background: #000000;
		border: none;
	}
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	.container input:checked ~ .checkmark:after {
		display: inline;
	}
	.box .checkmark:after{
		left: 8px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid #fff;
		border-width: 0px 3px 3px 0px;
		transform: rotate(45deg);
	}
	.row_right_side form textarea{
		width: 94%;
		height: 80px;
		resize: none;
		border: none;
		border-bottom: 1px solid rgb(255, 255, 255);
		outline: none;
		font-size: 18px;
		margin-bottom: 20px;
		margin-top: -18px;
	}
	.row_right_side button{
		width: 200px;
		height: 50px;
		background-color: #8502ff;
		border: none;
		outline: none;
		color: #fff;
		font-size: 18px;
		border-radius: 10px;
		position: absolute;
		right: 60px;
		bottom: -18px;
	}
	